* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

.mainTable {
  buttn {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    display: flex;
  }
  background-color: black;
}
